{{define "page"}}
    <!-- Popup for messages (hidden class to hide) -->
    <div id="popup" class="fixed inset-0 z-50 flex items-center justify-center">
      <div class="fixed inset-0 bg-black opacity-50"></div>
    
      <div class="bg-white p-8 rounded-lg shadow-lg text-black flex items-center justify-center">
        <div class="spinner"></div>
        <p class="px-3">Dorking... This could take a while.</p>
      </div>
    </div>
{{end}}